<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
<div class="container">
<h1> magnesium&copy;</h1>
<h3> found: </h3>

 <img class="image" src="<%= imageUrl %>">

<div class="watson">
  <% if (watsonResults) { %>
  <ul>
  <% watsonResults.images[0].classifiers[0].classes.forEach((el) => { %>
    <li><%= el.class %><li>
    <li><%= el.score %><li>
    <li><%= el.faces %><li>
    <li><%= el.age %><li>
    <li><%= el.gender %><li>
    <li><%= el.identity %><li>
  <% }) %>
  <% } %>
  </ul>

<form class='faves' action="/users/save" method="POST">
  <input type="hidden" name="url" value="<%= watsonResults.images[0].resolved_url %>">
  <input type="submit" value="save" placeholder="Save">
</form>

<% favorites.forEach((fave) => { %>
  <img src="<%= fave.url %>">
  <form class='faves' action="/users/save?_method=DELETE" method="post">
    <input type="hidden" name="id" value="<%= fave._id %>">
    <input class='' type="submit" value="Delete">
  </form>
<% }) %>

</div>
<footer></footer>
</div>
</body>
</html>
