<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
<h1> Watson results</h1>

<h1> Found </h1>
  <% if (watsonResults) { %>
  <% watsonResults.images[0].classifiers[0].classes.forEach((el) => { %>
    <p><%= el.class %></p>
    <p><%= el.score %></p>
    <p><%= el.faces %></p>
    <p><%= el.age %></p>
    <p><%= el.gender %></p>
    <p><%= el.identity %></p>
    <p><%= el.type_hierarchy %></p>

  <% }) %>
  <% } %>

  <img class="" src="<%= imageUrl %>">
<form class="save" action="/users/save" method="POST">
  <input type="hidden" name="url" value="<%= watsonResults.images[0].resolved_url %>">
  <input type="submit" value="save" placeholder="Save">
</form>

<% favorites.forEach((fave) => { %>
  <img src="<%= fave.url %>">
  <form action="/users/save?_method=DELETE" method="post">
  <input type="hidden" name="id" value="<%= fave._id %>">
  <input type="submit" value="Delete">
</form>
<% }) %>


</body>
</html>
